body {
  width: auto;
  height: auto;
  margin: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  font-family: "Muli", sans-serif;
}
.header {
  background-color: rgb(33, 192, 139);
  height: 100px;
  display: flex;
  align-items: center;
}
.header_logo {
  width: 250px;
  height: auto;
}
.login {
  width: auto;
  height: auto;
  background: linear-gradient(
    to bottom,
    rgb(33, 192, 139) 0%,
    rgb(143, 87, 253) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.login-container {
  width: 40%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 40px;
}
.login-title {
  text-align: center;
  color: white;
  margin: 0px 0px 0px 0px;
}
.login-form {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-email {
  width: 80%;
  height: 40px;
  margin-bottom: 2em;
  font-size: 22px;
  color: white;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid white;
  outline: none;
}
.login-password {
  width: 80%;
  height: 40px;
  margin-bottom: 2em;
  font-size: 22px;
  color: white;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid white;
  outline: none;
}
::placeholder {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}
.login-button {
  width: 80%;
  height: 50px;
  margin: 0px 0px 0px 0px;
  color: white;
  font-size: 21px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 40px;
  align-self: center;
  cursor: pointer;
}
.login-remember {
  width: 380px;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* margin:  0px 0px 0px 0px; */
}
.login-remember a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.login-remember a:hover {
  text-decoration: underline;
}
.login-socialContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 0px 0px 0px;
  color: white;
  font-size: 18px;
}
.social-login_google {
  display: flex;
  align-items: center;
  margin: 0em 0px 0px 0px;
}
.social-login_twitter {
  display: flex;
  align-items: center;
  margin: 2em 0px 0px 0px;
}
.social-icon {
  width: 40px;
}
.login-register {
  margin: 0px 0px 0px 0px;
  color: white;
}
.login-register_link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.login-register_link:hover {
  text-decoration: underline;
}
.footer {
  background-color: rgb(143, 87, 253);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer a {
  font-size: 20px;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.footer a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .login {
    padding: 0;
  }
  .login-container {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0;
    width: 100%;
  }
  .login-form {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .header {
    justify-content: center;
  }
  .login {
    padding: 0;
  }
  .login-container {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0;
    width: 100%;
  }
  .login-form {
    width: 80%;
  }
  .login-form input {
    width: 100%;
  }
  .login-form button {
    width: 100%;
  }
  .login-remember {
    width: 100%;
    height: auto;
    margin-top: 2px;
  }
  .login-remember label {
    display: flex;
    align-items: flex-end;
    width: 33%;
    font-size: 14px;
  }
  .forget-my-password {
    font-size: 12px;
    align-items: center;
  }
  .footer{
    display: flex;
    justify-content: space-evenly;
  }
  .footer a{
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 320px) {
}
