* {
  margin: 0;
  font-family: "Muli", sans-serif;
  color: white;
}
.header {
  background-color: rgb(33, 192, 139);
  height: 100px;
  display: flex;
  align-items: center;
}
.header_logo {
  width: 250px;
  height: auto;
}

.not_found-section {
  width: auto;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(33, 192, 139) 0%,
    rgb(143, 87, 253) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.not_found-div {
  text-align: center;
}
.span-404 {
  font-size: 8em;
  font-weight: bold;
}
.not_found-message {
  width: 15em;
}
.footer {
  background-color: rgb(143, 87, 253);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.footer a {
  font-size: 20px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.footer a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 425px) {
  .header {
    justify-content: center;
  }
  .span-404 {
    font-size: 6em;
  }
  .footer {
    justify-content: center;
  }
  .footer a {
    font-size: 16px;
    margin-left: 12px;
  }
}
